#d2{
    width: 200px;
    height: 200px;
    background-color: brown;
}
#d3{
    
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color: white;
}
#d4{
    
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color: white;
}